<!DOCTYPE html>
<html>
  <head>
    <title>Emplyoee Managament | Harsh Bhatia</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="EmApp" ng-controller="SimpleController" class="container">
    <h1>Employee Management System</h1>
    <h2>Employee List</h2><a class="btn btn-primary btn-large pull-right"><i class="icon-search icon-white"></i>Add New Employee</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
          <!--th Password-->
        </tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in persons">
          <td>{{person.name}}</td>
          <td>{{person.email}}</td>
          <td>{{person.username}}</td>
          <!--td {{person.password}}-->
          <td>
            <button class="edit btn-primary btn"><i class="icon-user icon-white"></i>Edit</button>
            <button class="edit btn-danger btn"><i class="icon-search icon-white"></i>Delete</button>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <h2> Add New User</h2>
    <form name="newUserForm" role="form" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">First-Name</label>
        <div class="col-sm-10">
          <input type="text" name="firstname" placeholder="e.g. John" ng-model="NewUser.name" class="form-control">
          <p ng-show="new-user-form.name.$invalid &amp;&amp; !new-user-form.name.$pristine">Your name is required</p>
        </div><br>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Email</label>
        <div class="col-sm-10">
          <input type="mail" name="email" placeholder="e.g. john@abc.com" ng-model="NewUser.email" class="form-control">
        </div><br>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Username</label>
        <div class="col-sm-10">
          <input type="text" name="username" placeholder="Username" ng-model="NewUser.username" ng-minlength="3" ng-maxlength="5" class="form-control">
          <!--p(ng-show="newUserForm.username.$error.minlength")Username is too short.-->
          <!--p(ng-show="newUserForm.username.$error.maxlength")Username is too long.-->
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
          <input type="password" name="password" placeholder="Enter Password" ng-model="NewUser.password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-click="SaveUser()" class="btn btn-primary">Save Employee</button>
          <button class="btn btn-danger">Discard</button>
        </div>
      </div>
    </form>
  </body>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>
</html>