doctype html
html
    head
        title Emplyoee Managament | Harsh Bhatia
        link(href='css/bootstrap.min.css' rel='stylesheet')
    body.container(ng-app="EmApp" ng-controller="PersonController")
        h1 Employee Management System
        div(ng-view)
    script(src='scripts/jquery.min.js')
    script(src='scripts/angular.min.js')
    script(src='scripts/bootstrap.min.js')
    script(src='scripts/angular-route.min.js')
    script(src='scripts/app.js')