
<div class="EmployeeList">
  <h2>Employee List</h2>
  <!--a.btn.btn-primary.btn-large.pull-right(href='#AddNewPerson')--><a href="#AddPerson" class="btn pull-right"><i class="glyphicon-plus glyphicon"></i>Add New Employee</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <!--th Password-->
      </tr>
      <tr></tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in persons">
        <td>{{person.name}}</td>
        <td>{{person.email}}</td>
        <td>{{person.username}}</td>
        <!--td {{person.password}}-->
        <td>
          <!--a(href="#/EditPerson")-->
          <button class="edit btn-primary btn"><i class="glyphicon-pencil glyphicon"></i>  Edit</button>
          <button class="edit btn-danger btn"><i class="glyphicon-trash glyphicon"></i>  Delete</button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>